@import "../../../../assets/css/_vars";
@import "../../../../assets/css/_mixin";

.room-relate {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $black-color-light;
  margin-bottom: 40px;

  &__title {
    font-weight: 500;
    color: $title-color;
    margin-bottom: 10px;
  }

  &__list {

  }

  &__item {
    padding: 12px ;
    transition: 0.2s;
    &:hover {
      box-shadow: 0 0 16px $black-color-light;
      .room-relate__item-img {
        opacity: 0.8;
      }

      .title {
        color: $yellow-color;
      }
    }

    &-img {
      width: 108px;
      height: 108px;
      flex-basis: 108px;
      flex-shrink: 0;
      background: #f0f0f0 center no-repeat;
      background-size: cover;
      margin-right: 12px;
      transition: 0.2s;
    }

    &-info {
      flex-shrink: 30;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .title {
        margin: 0;
        font-weight: 500;
        color: #222222;
        font-size: 0.875rem;
        transition: 0.2s;
      }

      .area {
        font-size: 0.875rem;
        color: #9b9b9b;
      }

      .price {
        color: $red-color;
        font-weight: 500;
        font-size: 0.875rem;
      }

      .address {
        color: #9b9b9b;
        font-size: 0.875rem;
      }
    }
  }

  &__item-link{
    display: flex;
  }
}