@import "../../assets/css/_vars";

.user-page {

  &__wrapper {
   padding-top: 20px;
  }

  .user-page-main {
    background-color: $white-color;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
    padding: 2rem 20px;
    border-radius: 4px;

    &__heading {
      margin: 0;
      padding-bottom: 1rem;
      font-weight: 500;
      color: $title-color;
      font-size: 1.5rem;
    }

  }
}